<nav id="menu">
  <a class="brand" href="#" data-color="home">
    <!-- "assets/img/nethSmile.jpeg" -->
    <img src="{{ '/assets/img/nethSmile.jpeg' | relative_url }}" />
    <h1>
      <span class="radioactive">Ne</span>on
      <span class="radioactive">Th</span>orium
    </h1>
  </a>
  <a class="menu-link" data-color="about" href="#about">About Me</a>
  <a class="menu-link" data-color="skills" href="#skills">What I Do</a>
  <a class="menu-link" data-color="projects" href="#projects">My Projects</a>
  <a class="menu-link" data-color="blog" href="#blog">Blog</a>
  <a class="menu-link" data-color="contact" href="#contact">Contact Me</a>
</nav>
