<!-- <div class="project-card">
  <h3>My 90s Notebook</h3>
  <h4>A fun social media project with a heavy 90s asthetic</h4>
  <img
    src="../assets/img/90snotebook/home.png"
    alt="My 90s Notebook screenshot"
  />
  <ul class="project-card-links">
    <li><a href="">More Info</a></li>
    <li><a href="http://my90snotebook.com">Visit Site</a></li>
    <li><a href="https://github.com/TheNethOfMe/my-90s-notebook">Github</a></li>
  </ul>
</div> -->
<div class="project-card">
  <h3>{{ include.project.title }}</h3>
  <h4>{{ include.project.desc }}</h4>
  <img
    src="../assets/img/{{ include.project.slug }}/main.png"
    alt="{{ include.project.alt }}"
  />
  <ul class="project-card-links">
    <li><a href="">More Info</a></li>
    <li><a href="http://{{ include.project.link }}">Visit Site</a></li>
    <li>
      <a href="https://github.com/TheNethOfMe/{{ include.project.github }}"
        >Github</a
      >
    </li>
  </ul>
</div>
