/* > About Me Section */
#factsArea {
  background-color: black;
  color: $about-color;
  font-family: $mono-font;
}

#nethFacts {
  animation: textFlash 0.8s 3;
}
@keyframes textFlash {
  0% {
    color: $about-color;
  }
  49% {
    color: black;
  }
  50% {
    color: black;
  }
  99% {
    color: black;
  }
  100% {
    color: $about-color;
  }
}
