.blog-list-item {
  text-align: left;
}

.blog-list-item h4 {
  margin: 4px 0;
}

.blog-list-item h5 {
  font-size: 0.6em;
  margin: 8px;
}

.blog-list-item p {
  font-family: $serif-font;
  font-size: 0.8em;
}
