.contact-form-group {
  display: flex;
  flex-direction: column;
  margin: 4px auto;
  width: 75%;
  label {
    text-align: left;
  }
}

.contact-form-group input,
.contact-form-group textarea,
.contact-form-group button {
  font-family: $serif-font;
  font-size: 1.1em;
}

.contact-submit-button {
  background-color: $contact-color;
  border-color: black;
  &:hover {
    background-color: #ffc184;
    cursor: pointer;
  }
}
