.project-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project {
  width: 45%;
}

.project-title-1 {
  background-image: url("/assets/img/projects/test1.jpg");
  background-size: cover;
  height: 150px;
  margin: 0;
}

.project-title-2 {
  background-image: url("/assets/img/projects/test3.jpg");
  background-size: cover;
  height: 150px;
  margin: 0;
}

.project p {
  font-size: 0.8em;
  font-family: $serif-font;
}
