.skills-card-title {
  font-family: $title-font;
}

.skills-img {
  animation: spinner 2s 1;
  border-radius: 25px;
  margin: 5px;
  width: 75px;
}

.skills-card-desc {
  font-family: $serif-font;
  margin: 5px auto;
  width: 80%;
}

.skills-play-pause {
  border-radius: 25%;
  font-size: 1.5em;
}

.skills-nav-dots {
  align-items: center;
  display: flex;
  justify-content: center;
}

.skills-nav-dots span {
  padding: 5px;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 0.5s linear;
}

.dot-active {
  font-size: 2em;
}

@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
