<section id="about" data-color="about" data-number="1" tabindex="-1">
  <header class="section-header">
    <h2>About Me</h2>
    <div>
      <a href="#" class="home-link" title="Return Home"
        ><i class="fas fa-home"></i
      ></a>
      <a href="#skills" title="Next Section">
        <i class="fas fa-forward"></i>
      </a>
    </div>
  </header>
  <div class="article-text">
    I’m a guy who likes to walk the line between designer and developer. I like
    to work in the front-end to make eye-catching designs that anyone can use
    and in the back-end to turn simple pages into fully functional web
    applications.<br /><br />
    I currently live in Kent with my amazing wife, Ellen, and our two adorable
    cats.<br /><br />
    A career in tech means always learning what’s new. So when I’m not acquiring
    new skills or putting my existing ones to work, I enjoy making podcasts and
    videos. <br /><br />I’m passionate about social justice, retro tech and
    toys, games, animation, cooking and way too many other things to list here!
  </div>
  <footer id="factsArea" class="section-footer">
    <h3>Neth Facts:</h3>
    <span id="nethFacts">Test</span>
  </footer>
</section>
