<section id="blog" data-color="blog" data-number="4">
  <header class="section-header">
    <h2>Blog</h2>
    <div>
      <a href="#" class="home-link" title="Return Home"
        ><i class="fas fa-home"></i
      ></a>
      <a href="#contact" title="Next Section">
        <i class="fas fa-forward"></i>
      </a>
      <a href="#projects" title="Previous Section">
        <i class="fas fa-backward"></i>
      </a>
    </div>
  </header>
  <ul>
    {% for post in site.posts %}
    <li class="blog-list-item">
      <h4>{{ post.title_full }}</h4>
      <h5>
        Filed under {{ post.category }} on {{ post.date | date: "%m/%d/%Y" }}
      </h5>
      <p class="article-text">
        {{ post.excerpt }}
      </p>
    </li>
    {% endfor %}
  </ul>
  <footer class="section-footer">
    <a href="/pages/blogs.html"><h3>View Blog Index</h3></a>
  </footer>
</section>
