<section id="projects" data-color="projects" data-number="3">
  <header class="section-header">
    <h2>My Projects</h2>
    <div>
      <a href="#" class="home-link" title="Return Home"
        ><i class="fas fa-home"></i
      ></a>
      <a href="#blog" title="Next Section">
        <i class="fas fa-forward"></i>
      </a>
      <a href="#skills" title="Previous Section">
        <i class="fas fa-backward"></i>
      </a>
    </div>
  </header>
  <div class="project-cards">
    <div class="project">
      <div class="project-title-1">Honest Piranha</div>
      <p>
        This is a landing page I created for my YouTube channel and could be
        easily adapted to other channels. It can also be used to display blog
        entries and podcasts. It allows users to log-in and leave comments with
        a robust moderation system that allows administrators to approve
        comments before they are displayed. I created a custom admin area that
        allows administartors to add new entries and series without needing to
        touch the code.
      </p>
      <div class="project-links">
        <a href="#">Learn More</a>
        <a href="#">View Site</a>
        <a href="#">View Github</a>
      </div>
    </div>
    <div class="project">
      <div class="project-title-2">My 90s Notebook</div>
      <p>
        My idea for a social media site with a heavy 90s asthetic. The site
        allows users to create an account and leave up to six publicly available
        posts at a time. This was a purposeful decision, as my philosophy behind
        social media is that posts shouldn't be perminant and that we should be
        forced to be selective in what we choose to share. I think a system like
        this could prevent the sort of overload we get from modern social media
        sites. I plan to update this with more features and perhaps a game.
      </p>
      <div class="project-links">
        <a href="#">Learn More</a>
        <a href="#">View Site</a>
        <a href="#">View Github</a>
      </div>
    </div>
  </div>
</section>
