<section id="projects" data-color="projects" data-number="3">
  <header class="section-header">
    <h2>My Projects</h2>
    <div>
      <a href="#" class="home-link" title="Return Home"
        ><i class="fas fa-home"></i
      ></a>
      <a href="#blog" title="Next Section">
        <i class="fas fa-forward"></i>
      </a>
      <a href="#skills" title="Previous Section">
        <i class="fas fa-backward"></i>
      </a>
    </div>
  </header>
  <div class="project-cards">
    <div class="project-1">
      <div class="project-title"><h3>Honest Piranha</h3></div>
      <article class="project-details">
        This is a landing page I created for my YouTube channel and could be
        easily adapted to other channels. It can also be used to display blog
        entries and podcasts. It features areas for users to leave comments and
        admin to add new entries. Many aspects of the site can be managed
        without needed to touch the code.
        <div class="project-links">
          <a href="#">
            <i class="fas fa-info-circle"></i>
          </a>
          <a href="http://www.honestpiranha.com/" target="_blank">
            <i class="fas fa-external-link-square-alt"></i>
          </a>
          <a href="https://github.com/TheNethOfMe/honpron">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </article>
    </div>
    <div class="project-2">
      <div class="project-title"><h3>My 90s Notebook</h3></div>
      <article class="project-details">
        My idea for a social media site with a heavy 90s asthetic. The site
        allows users to create an account and leave up to six publicly available
        posts at a time that can be viewed by their friends.
        <div class="project-links">
          <a href="#">
            <i class="fas fa-info-circle"></i>
          </a>
          <a href="http://www.my90snotebook.com/" target="_blank">
            <i class="fas fa-external-link-square-alt"></i>
          </a>
          <a href="https://github.com/TheNethOfMe/new90snotebook">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </article>
    </div>
  </div>
</section>
