<section id="skills" data-color="skills" data-number="2" tabindex="-1">
  <header class="section-header">
    <h2>What I Do</h2>
    <div>
      <a href="#" class="home-link" title="Return Home"
        ><i class="fas fa-home"></i
      ></a>
      <a href="#projects" title="Next Section">
        <i class="fas fa-forward"></i>
      </a>
      <a href="#about" title="Previous Section">
        <i class="fas fa-backward"></i>
      </a>
    </div>
  </header>
  <div class="skills-card-area">
    <h3 class="skills-card-title">Full Stack Development</h3>
    <div class="skills-card-images">
      <img class="skills-img" src="assets/img/skills/mongo.jpg" alt="text1" />
      <img class="skills-img" src="assets/img/skills/express.jpg" alt="text2" />
      <img class="skills-img" src="assets/img/skills/react.jpg" alt="text3" />
      <img class="skills-img" src="assets/img/skills/node.jpg" alt="text4" />
    </div>
    <div class="skills-card-desc">
      Full stack web design with Javascript is my bread and butter. I’ve built
      several full-stack applications in the MERN stack (that is MongoDB,
      Express, React, and Node.js) though I’ve also worked with Vue and Angular
      in the past. I’m always excited to try out new libraries to see what they
      can do.
    </div>
  </div>
  <!-- end skills-card-area-->
  <footer class="section-footer">
    <button class="skills-play-pause">
      <i class="fas fa-pause"></i>
    </button>
    <div class="skills-nav-dots">
      <span tabindex="0" class="dot-active">&#8226;</span>
      <span tabindex="0">&#8226;</span>
      <span tabindex="0">&#8226;</span>
      <span tabindex="0">&#8226;</span>
    </div>
  </footer>
</section>
