.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 8px auto;
  width: 90%;
}

button {
  border: black 3px solid;
  border-radius: 25px;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  font-size: 1.4em;
  height: 100px;
  transition: 0.4s;
  width: 200px;
}

button:hover {
  -webkit-box-shadow: 10px 10px 0px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 10px 10px 0px 0px rgba(255, 255, 255, 0.75);
  box-shadow: 10px 10px 0px 0px rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.web-btn {
  background: $web;
}

.pod-btn {
  background: $pod;
}

.blog-btn {
  background: $blog;
}
