#menu {
  background-color: #333;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 150px;
}

.brand {
  color: #eee;
  margin: auto;
  text-align: center;
}

.brand img {
  border-radius: 50%;
  display: block;
  margin: 5px auto;
  width: 90%;
}

.menu-link {
  color: #eee;
  display: block;
  font-family: sans-serif;
  padding: 5px;
}

.menu-link:hover {
  background-color: #555;
  color: yellow;
}

.menu-active {
  font-weight: bold;
}

.menu-active[data-color="home"] {
  color: $home-color;
}

/* Menu Link Colors */
.menu-active[data-color="about"] {
  color: $about-color;
}

.menu-active[data-color="skills"] {
  color: $skills-color;
}

.menu-active[data-color="projects"] {
  color: $projects-color;
}

.menu-active[data-color="blog"] {
  color: $blog-color;
}

.menu-active[data-color="contact"] {
  color: $contact-color;
}
