.webdev-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 28px auto;
  width: 90%;
}

.project-card {
  background: $web;
  border-radius: 25px;
  text-align: center;
  width: 45%;
  h3 {
    font-size: 1.3em;
    padding: 4px;
  }
  img {
    padding: 8px;
    width: 90%;
  }
}
