<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ page.title_full }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/blog.css' | relative_url }}" />
  </head>
  <body>
    <div class="main-blog-area">
      <h1>{{ page.title_full }}</h1>
      <h5>
        <a href="/">Home</a>
        <a href="/pages/blogs-idx.html">Back</a>
      </h5>
      <h3>
        Filed under {{ page.category }} on {{ page.date | date: "%m/%d/%Y" }}
      </h3>
      <p class="article-text">
        {{ content }}
      </p>
      <h5>
        <a href="/">Home</a>
        <a href="/pages/blogs-idx.html">Back</a>
      </h5>
    </div>
  </body>
</html>
