<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ page.title_full }}</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/project.css' | relative_url }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>{{ page.title_full }}</h1>
        <nav>
          <a href="{{ '/' | relative_url }}">
            <i class="fas fa-home"></i>Home
          </a>
          <a href="{{ site.baseurl }}/pages/blogs-idx.html">
            <i class="fas fa-arrow-circle-left"></i>Back
          </a>
        </nav>
      </header>
      <h3>
        Filed under {{ page.category }} on {{ page.date | date: "%m/%d/%Y" }}
      </h3>
      <main>
        {{ content }}
      </main>
      <footer>
        <a href="{{ '/' | relative_url }}"> <i class="fas fa-home"></i>Home </a>
        <a href="{{ site.baseurl }}/pages/blogs-idx.html">
          <i class="fas fa-arrow-circle-left"></i>Back
        </a>
      </footer>
    </div>
  </body>
</html>
