$home-bg: rgba(112, 8, 235, 0.35);
$home-color: rgb(112, 8, 235);

$about-bg: rgba(239, 56, 40, 0.35);
$about-color: rgb(239, 56, 40);

$skills-bg: rgba(36, 233, 15, 0.35);
$skills-color: rgb(36, 233, 15);

$projects-bg: rgba(190, 214, 0, 0.35);
$projects-color: rgb(190, 214, 0);

$blog-bg: rgba(4, 23, 244, 0.35);
$blog-color: rgb(4, 23, 244);

$contact-bg: rgba(244, 152, 4, 0.35);
$contact-color: rgb(244, 152, 4);
