body {
  background: url("../img/home-office.jpg");
  background-size: cover;
  height: 100vh;
  font-family: sans-serif;
}

#container {
  height: 100%;
  transition: 0.4s;
  width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  background-image: url("../img/home-office.jpg");
  background-size: cover;
  color: $home;
  padding: 20px;
  font-size: 4em;
  font-weight: bold;
  -webkit-text-fill-color: rgba(220, 220, 220, 0.5);
  -webkit-background-clip: text;
  background-clip: text;
}
